[MESSAGES CONTROL]
disable=missing-module-docstring,
        invalid-name,
        missing-function-docstring,
        too-many-arguments,
        missing-class-docstring,
        too-few-public-methods,
        too-many-instance-attributes,
        consider-using-f-string
